html, body {
    margin: 0;
  }
  
  html {
    font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
    height: 100%;
  }
  
  body {
    overflow: hidden;
    height: inherit;
  }
  
  h1 {
    font-size: 3rem;
    /* letter-spacing: -1px; */
    position: absolute;
    margin: 0;
    top: 55%;
    right: 20%;
  
    color: black;
    /* text-shadow: 0 0 4px white; */
  }

  h2 {
    position:absolute;
    font-size: 5rem;
    top:60%;
    right: 40%;


  }

  #myShape {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    background-color: black;
  }

  .my-class {
    width: 70px;
    height: 70px;
    border-radius: 50%;
    background-color: blue;
    transition: transform 0.3s ease-in-out;
    top: auto;
    left: auto;
    position: absolute;
    transition: transform 0.3s ease-in-out;

  }