
body {
    background-color: #fff;
    color: #333;
    margin: 0;
    font: 1.2em / 1.2 Arial, Helvetica, sans-serif;
  }

    img {
      max-width: 100%;
      display: block;
  }
  
  .logo {
    font-size: 200%;
    padding: 40px 20px;
    margin: 0 auto;
    max-width: 980px;
  }
  

  .grid article p {
    margin-right: 1rem;
  }
  
  nav {
    position: sticky;
    background-color: #000;
    padding: .5em;
  }
  
  nav ul {
    
    margin: 0;
    padding: 0;
    list-style: none;
    flex: 2;
    display: flex;
    justify-content: space-between;
    
  }
  
  nav a {
    color: #fff;
    text-decoration: none;
    padding: .5em 1em;
  }

 
  .feature {
      width: 200px;
      float: left;
      margin-right: 1em;

  }

        @media screen and (max-width:600px){
            .grid {
                max-width: 475px;
              display: flex;
              flex-direction: row;
              margin: 0 0 0 1em;
              padding: 0;
              flex-wrap:wrap


            }
            .photos {
              flex-direction:row;
              list-style: none;
              margin: 0;
              padding: 0;
              display: flex;
              flex-wrap: wrap;
              flex-direction:row;
              gap: 1px;
            }
            .photos img {
                flex: 1 100px;
                width: 150px;
               }
            .grid article p {
                margin-right: 0.5rem
            }

          }
@media screen and (min-width:600px) {
    .grid {
        margin: 0 auto;
        padding: 0 20px;
        max-width: 980px;
        display: grid;
        grid-template-columns: 3fr 1fr;
      }
      .photos {
        list-style: none;
        margin: 0;
        padding: 0;
        display: flex;
        flex-wrap: wrap;
        flex-direction:row;
        gap: 1px;
      }
      .photos img {
        flex: 1 100px;
        width: 120px;
       }

}
